.info-page {
    border: 1px solid transparent;
    background: #EDDDD0;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-cover {
    width: 300px;
}

.info-text {
    background: grey;
    height: 65vh;
    width: 45vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-title {
    color: #422A14;
    font-size: 3rem;
}

.info-author {
    color: #422A14;
    border-bottom: 2px solid #422A14;
}

.info-description {
    color: #422A14;
}

.info-checkout {
    padding: 20px 50px;
    justify-self: center;
    align-self: center;
    margin: 32px;
    background: black;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.btn-checkout:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .info-container {
        margin-left: 25%;
        grid-template-rows: 35px 75px 350px;
        grid-template-areas: 
        "title"
        "author"
        "sidebar"
        "description"
        "checkout";
    }

    .cover {
        height: 350px;
        justify-self: center;
    }

    .btn-checkout {
        margin: 30px;
    }
}