.card-container{
    background-color: #FFFFFF;
    margin: auto;
    width: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
}

.card-container:hover{
    transform: scale(1.01);
    background-color: #CCCCCC;
    box-shadow: 0px 0px 15px 0px;
}

.image-container img{
    overflow: hidden;
    width: 200px;
}