.welcome-page{
    min-height: calc(100vh - 100px);
}

.welcome-top {
    border: 1px solid transparent;
    height: calc(60vh - 60px);
    background: #EDDDD0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-bottom {
    border: 1px solid transparent;
    height: calc(40vh - 40px);
    background: #487876;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-title {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Georgia', 'Century Expanded', 'Times New Roman', serif;
    color: #4E1D04;
}

.welcome-info {
    margin-bottom: 2rem;
    text-align: center;
}

.welcome-info button{
    border: none;
    background: none;
    font-size: 2rem;
    font-family: 'Georgia', 'Century Expanded', 'Times New Roman', serif;
    text-decoration: none;
    color: #F1F1F1;
    transition: 0.3s;
    animation: ease;
}

.welcome-info button:hover {
    color: #CDBE87;
}

.welcome-sign-in {
    text-align: center;
}

.welcome-sign-in button {
    border: 2px solid #7ba09e;
    border-radius: 5px;
    background: #487876;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    color: #b4d3d1;
    font-family:'Times New Roman', Times, serif;
    transition: 0.3s;
    animation: ease;
}

.welcome-sign-in button:hover {
    border-color: #EF5D58;
    background: #EF5D58;
    color: #F1F1F1;
}

.welcome-books {
    text-align: center;
}

.welcome-books button {
    border: 2px solid #7ba09e;
    border-radius: 5px;
    background: #487876;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    color: #b4d3d1;
    font-family:'Times New Roman', Times, serif;
    transition: 0.3s;
    animation: ease;
}

.welcome-books button:hover {
    border-color: #EF5D58;
    background: #EF5D58;
    color: #F1F1F1;
}

.welcome-admin button {
    border: 2px solid #7ba09e;
    border-radius: 5px;
    background: #487876;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    color: #b4d3d1;
    font-family:'Times New Roman', Times, serif;
    transition: 0.3s;
    animation: ease;
}

.welcome-admin button:hover {
    border-color: #EF5D58;
    background: #EF5D58;
    color: #F1F1F1;
}