.welcome-page{
    background: #50A1A6;
    height: calc(100vh - 100px);
}

.title {
    padding: 15px;
    text-align: center;
    font-size: 4rem;
    font-family: 'Georgia', 'Century Expanded', 'Times New Roman', serif;
    color: #F1F1F1;
}

.welcome-page button{
    padding: 2px 25px 2px 25px;
    background-color: rgb(5, 119, 125);
    font-weight: bold;
    border-color: rgb(27, 27, 27);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.welcome-page button:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px black;
}

#social-media{
    width: 400px;

}